@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1 {
  text-align: center;
  font-family: 'Papyrus'
}

.parchment {
  position: absolute;
  width: 98%;
  min-height: calc((1vw + 1vh) * 75);
  top: 0%; left: 50%; transform: translate(-50%, 0);
  margin: 4em 0;
    padding: 4em;
    box-shadow: 4px 3px 20px black, 0 0 60px #8a4d0f inset;
    background: #fffef0;
  filter: url(#wavy2);
}

#button {
  cursor: pointer;
}

$grid__bp--md: 768;
$grid__cols: 12;
.container {

  max-width: $grid__bp--md * 1px;
  margin: 0 auto;
  &--fluid {
    margin: 0;
    max-width: 100%;
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  @for $i from 1 through $grid__cols {
    &__col-sm-#{$i} {
      flex-basis: (100 / ($grid__cols / $i) ) * 1%;
    }
  }
    @for $i from 1 through $grid__cols {
      &__col-md-#{$i} {
        flex-basis: (100 / ($grid__cols / $i) ) * 1%;
      }
    }
}

.align-right {
  text-align: right;
}


.stone {
  background-color:rgb(0,0,0);
  background-image:url(http://www.zingerbugimages.com/backgrounds/brown_marble_background_seamless.jpg);
  background-position:top left;
  background-repeat:repeat;
  background-attachment:fixed;
}