@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

#button {
  cursor: pointer;
}

.review-form {
  background-color: #ADD8E6;
}

.rating-options {
color: green;
}

.radio-button{
  font-family: "FontAwesome";
 list-style: "fa-star"
}